.dropup:hover {
  background-color: var(--light-green);
  border: none;
  border-radius: 0.7rem;
}

.id_dropup {
  background-color: var(--activeItem);
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 0.7rem;
  z-index: 1;
}

.id_dropup option {
  display: block;
  background-color: white;
  color: black;
  bottom: -50px;
}

@media screen and (max-width: 1200px) {
  
.id_dropup {
  padding: 16px;
  font-size: 14px;
}
}
